<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">

	<!-- Board resultMap -->
	<resultMap type="Board" id="board_rm">
      <id property="boardNo" column="BOARD_NO"/>
      <result property="boardTitle" column="BOARD_TITLE"/>
      <result property="boardContent" column="BOARD_CONTENT"/>
      <result property="boardCreateDate" column="B_CREATE_DATE"/>
      <result property="boardUpdateDate" column="B_UPDATE_DATE"/>
      <result property="readCount" column="READ_COUNT"/>
      <result property="commentCount" column="COMMENT_COUNT"/>
      <result property="likeCount" column="LIKE_COUNT"/>
      <result property="memberNickname" column="MEMBER_NICKNAME"/>
      <result property="memberNo" column="MEMBER_NO"/>
      <result property="profileImage" column="PROFILE_IMG"/>
      <result property="thumbnail" column="THUMBNAIL"/>
	
	</resultMap>
	
	
	
	
	
	
	<!-- 게시판 이름 목록 조회 -->
	<!--  resultType="map"  : 
		조회된 한 행의 결과를 컬럼명:값 형식으로 Map에 저장-->
	<select id="selectBoardType" resultType="map">
		SELECT * FROM BOARD_TYPE
		ORDER BY 1
	</select>
	

	<!-- 게시글 수 조회 -->
	<select id="getListCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM BOARD
		WHERE BOARD_CODE = #{boardCode}
		AND BOARD_DEL_FL = 'N'
	</select>



	<!-- 특정 게시판 목록 조회 -->
	<select id="selectBoardList" parameterType="_int" resultMap="board_rm">
		SELECT BOARD_NO, BOARD_TITLE, MEMBER_NICKNAME, READ_COUNT, 
		  <![CDATA[
			CASE  
		      WHEN SYSDATE - B_CREATE_DATE < 1/24/60
		      THEN FLOOR( (SYSDATE - B_CREATE_DATE) * 24 * 60 * 60 ) || '초 전'
		      WHEN SYSDATE - B_CREATE_DATE < 1/24
		      THEN FLOOR( (SYSDATE - B_CREATE_DATE) * 24 * 60) || '분 전'
		      WHEN SYSDATE - B_CREATE_DATE < 1
		      THEN FLOOR( (SYSDATE - B_CREATE_DATE) * 24) || '시간 전'
		      ELSE TO_CHAR(B_CREATE_DATE, 'YYYY-MM-DD')
		   END B_CREATE_DATE,
		   ]]>
			(SELECT COUNT(*) FROM "COMMENT" C
			 WHERE C.BOARD_NO = B.BOARD_NO) COMMENT_COUNT,
			(SELECT COUNT(*) FROM BOARD_LIKE L
			 WHERE L.BOARD_NO = B.BOARD_NO) LIKE_COUNT,
			(SELECT IMG_PATH || IMG_RENAME FROM BOARD_IMG I
			 WHERE IMG_ORDER = 0
			 AND I.BOARD_NO = B.BOARD_NO) THUMBNAIL
		FROM BOARD B
		JOIN MEMBER USING(MEMBER_NO)
		WHERE BOARD_CODE = #{boardCode}
		AND BOARD_DEL_FL = 'N'
		ORDER BY BOARD_NO DESC
	</select>
	
	



</mapper>



